<div id="maincontainer" class="conatiner-fluid">

</div>
<div class="container">
  <div id="jumbo" class="jumbotron mt-4">
    <h1 class="display-4 text-center">400 Bad Request please enter a vaild query</h1>
    <p>
      <strong>Error Name</strong>: {{error.name}}</p>
    <p>
      <p>
        <strong>Error Msg</strong>: {{error.msg}}</p>
      <p>
  </div>
</div>