<div id="toggle-button" class="container">

  <nav id="menu">
    <header>
      <h2>Menu</h2>
    </header>
  </nav>

  <main id="panel">
    <header>
      <h2>Panel</h2>
    </header>
  </main>
</div>

<div id="home">

  <div id="maincontainer" class="conatiner-fluid">
    <div class="container" id="supercontainer">
      <div class="row">
        <div class="col-8 offset-2">
          <br>

          <h1>{{msg}}</h1>
          <h2>This is CocktailGenie</h2>
          <form class="clearfix mb-4" action="POST">
            <div class="form-group">
              <label for="example-text">Ingrediant</label>
              <input type="text" id="example-text" class="form-control" aria-describedby="example-text"
                placeholder="enter the name of an ingrediant ">
              <button id="submit" class="btn btn-primary float-right">Search Ingrediant</button>
            </div>
            <h1>or</h1>
            <div class="form-group">
              <label for="example-text">specific cocktail</label>
              <input type="text" id="example-text" class="form-control" aria-describedby="example-text"
                placeholder="enter the name of a cocktail ">
              <button id="submit" class="btn btn-primary float-right">Search cocktail</button>
            </div>
          </form>
        </div>
        <button id="randomize" class="btn btn-warning float-right">give me a random drink</button>

      </div>
      <h3>Popular searches</h3>
      <ul id="example-list" class="list-group">
        {{#each examples}}
        <li data-id="{{this.id}}" class="list-group-item">
          <a href="example/{{this.id}}">{{this.text}}</a>
          <button class="btn btn-danger float-right delete">ｘ</button>
        </li>
        {{/each}}
      </ul>
    </div>
    <br>
    <div class="col-8 offset-2">
      <h3></h3>
      <div class="work">
        <a href="">
          <img src="/images/rum.png" id="alc" alt="rum"></img>
          <h3>Rum</h3>
        </a>
      </div>
      <a class="work" href="">
        <img src="/images/vodka.png" id="alc" alt="vodka">
        <h3>Vodka</h3>
      </a>
      <a class="work" href="">
        <img src="/images/whisky.png" id="alc" alt="whisky">
        <h3>Whisky</h3>
      </a>
      <a class="work" href="">
        <img src="/images/gin.png" id="alc" alt="gin">
        <h3>Gin</h3>
      </a>
      <a class="work" href="">
        <img src="/images/" id="alc" alt="taquila">
        <h3>Taquila</h3>
      </a>
    </div>
  </div>
</div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/public/js/index.js"></script>
<script src="/public/js/slideout.js"></script>
<script src="dist/slideout.min.js"></script>
<script>
  var slideout = new Slideout({
    'panel': document.getElementById('panel'),
    'menu': document.getElementById('menu'),
    'padding': 256,
    'tolerance': 70
  });

  // Toggle button
  document.querySelector('.toggle-button').addEventListener('click', function() {
    slideout.toggle();
  });
</script>