.list-group-item {
  line-height: 2.5;
}
.work {
  position: relative;
  float: left;
  width: 200px;
  margin: 20px 0 25px;
  margin: 20px;
  height: 250px;
}



body{
  background: black; 
  color: white;

}

#alc{
  width: 200px;
  height: 200px;

}
#maincontainer{
  background-image:linear-gradient(to top , #A2560B,#F3610C,#F3AE0C,#ffffff) ;
  text-align: center;
  align-content: center;
}

#randomize{
  margin-left:18% ;
  width: 64%;
  height: 30px;
  
}


